{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 160,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"endOfLine": "auto",
	"tabWidth": 4
}
